<%= form_with scope: :entry, url: entries_path, local: true do |form| %>

    <!--
    <p>
        <%= form.label :prompt %><br>
        <%= form.text_field :prompt%><br>
    </p>
    -->

    <p>
        <h2>Now type the WRITE STUFF</h2>
        <%= form.text_area :content%><br>
    </p>

    <p>
        <div>
        Word count: <div id="count"></div>
        </div>
    </p>

    <script>

        document.getElementsByTagName("textarea")[0].addEventListener("keyup",  wordCount);

        function wordCount()
        {
            text = document.getElementsByTagName("textarea")[0];
            text = text.value;
            text_array = text.split(" ");
            wordcount = text_array.length;
            wordcount_elem = document.getElementById("count");
            wordcount_elem.innerHTML = wordcount;
            
            if (wordcount >= 10)
            {
                alert("Wow good job");
            }  
        }
    
    </script>

    <p>
        <%= form.submit %>
    </p>

<% end %>